Рубежный контроль №2
Работа Соколов И.А., группа ИУ5-62Б, Вариант 16
задача №2

In [13]:
import numpy as np
import pandas as pd
from typing import Dict, Tuple
from scipy import stats
from IPython.display import Image
from sklearn import cluster, datasets, mixture
from sklearn.neighbors import kneighbors_graph
from sklearn.metrics import silhouette_score
from sklearn.cluster import MeanShift, AgglomerativeClustering, KMeans
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline 
sns.set(style="ticks")
from sklearn.datasets import load_boston

In [14]:
data = load_boston()
df = pd.DataFrame(data.data, columns=data.feature_names)
df.shape

(506, 13)

In [15]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [16]:
ss_list = []
for k in range(2, 20):
    kmeans_result = KMeans(n_clusters=k, random_state=1).fit_predict(df)
    ss_list.append([k,silhouette_score(df,kmeans_result)])
ss_list

[[2, 0.6914045749383209],
 [3, 0.7234282475858964],
 [4, 0.5682446969565319],
 [5, 0.5707677989827684],
 [6, 0.5012881249837045],
 [7, 0.5051011147571304],
 [8, 0.4623818819589733],
 [9, 0.47375595056347886],
 [10, 0.47622140683508585],
 [11, 0.4629396080479998],
 [12, 0.42251417245854034],
 [13, 0.4189225403826037],
 [14, 0.41427648556135377],
 [15, 0.38573243060185625],
 [16, 0.3907996696414901],
 [17, 0.3862078272340902],
 [18, 0.3916046682142474],
 [19, 0.36795496236722286]]

## MeanShift

In [18]:
MeanShift_3 = MeanShift()
MeanShift_3_result = MeanShift_3.fit_predict(df)

## Иерархическая кластеризация

In [20]:
AgglomerativeClustering_3 = AgglomerativeClustering(n_clusters=3)
AgglomerativeClustering_3_result = AgglomerativeClustering_3.fit_predict(df)

## Сравнение качества кластеризации

In [21]:
silhouette_score(df,MeanShift_3_result)

0.7234282475858964

In [22]:
silhouette_score(df,AgglomerativeClustering_3_result)

0.7208644566355276

In [ ]:
Из метрики видно, что алгоритмы примерно равнозначны в контексте данной задачи